[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-crispy-forms = "*"
stripe = "*"
gunicorn = "*"
psycopg2 = "*"
django-heroku = "*"
Pillow = "*"
six = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
