{% extends 'base.html' %}
{% load humanize %}


{% block content %}

<!-- Modal -->
<div class="modal fade" id="contactAgent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Contact Agent for {{ home.address }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form method="POST" action="{% url 'info' %}">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                               <input type="hidden" name="user_id" value="{{ user.id }}">
                            {% else %}
                            <input type="hidden" name="user_id" value="0">
                            {% endif %}
                            <input type="hidden" name="agent_email" value="{{ home.agent.email }}">
                            <input type="hidden" name="home_id" value="{{ home.id }}">
                                <div class="form-group">
                                <label for="name"></label>
                                <input type="text" class="form-control" name="name" {% if user.is_authenticated %} 
                                  value="{{ user.username }}" {% endif %} id="name" placeholder="Your Name">
                              </div>
                              <div class="form-group">
                                  <label for="phone"></label>
                                  <input type="text" class="form-control" name="phone" placeholder="Phone">
                             </div>
                                <div class="form-group">
                                  <label for="email1"></label>
                                  <input type="email" class="form-control" name="email" {% if user.is_authenticated %} 
                                  value="{{ user.email }}" {% endif %} id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                                  
                                </div>
                                <div class="form-group">
                                    <label for="info"></label>
                                    <textarea class="form-control" name="info" rows="3" placeholder="I am interested in {{ home.property_title }}"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                    
            </div>
            
          </div>
</div>
</div>

<section id="homeBkground" class="pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" id="cardCenter" style="width: 30rem;">
                        <h5 class="card-header">{{ home.property_title }} &nbsp; <span>Agent: {{ home.agent.name }}</span></h5>
                        <div class="card-header">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactAgent">Contact Agent</button>
                                <button type="button" class="btn btn-secondary btn-lg">Schedule a tour</button>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">${{ home.price | intcomma }}</h4>
                            <h5 class="card-title">{{ home.address }}</h5>
                            <p>{{ home.city }}, {{ home.state }} {{ home.zipcode }}</p>
                            <hr>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">{{ home.homesize  | intcomma }} sqft</div>
                        
                                    <div class="col-6">Garage: {{ home.garage }}</div>
                                </div>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">Bds: {{ home.bedrooms }}</div>
                                    <div class="col-6">Ba: {{ home.bathrooms }}</div>
                                </div>
                            <hr>
                        </div>
                        {% include 'dividers/_message.html' %}
                        
                </div>
            </div>
            <div class="picList col-md-4">
                <div class="row">
                    <div class="col-md-5 mb-2">
                        <div class="card">
                            <a href="{{ home.top_photo.url }}" data-lightbox="pixPics"><img src="{{ home.top_photo.url }}" class="card-img-top" alt=""></a>
                        </div>
                    </div>
                    {% if home.picture1 %}
                    <div class="col-md-5">
                        <div class="card">
                            <a href="{{ home.picture1.url }}" data-lightbox="pixPics"><img src="{{ home.picture1.url }}" class="card-img-top" alt=""></a>
                        </div>
                    </div>
                    {% endif %}
                    {% if home.picture2 %}
                    <div class="col-md-5">
                            <div class="card">
                                <a href="{{ home.picture2.url }}" data-lightbox="pixPics"><img src="{{ home.picture2.url }}" class="card-img-top" alt=""></a>
                            </div>
                    </div>
                    {% endif %}
                    {% if home.picture3 %}
                    <div class="col-md-5 mb-2">
                            <div class="card">
                                <a href="{{ home.picture3.url }}" data-lightbox="pixPics"><img src="{{ home.picture3.url }}" class="card-img-top" alt=""></a>
                            </div>
                    </div>
                    {% endif %}
                    {% if home.picture4 %}
                    <div class="col-md-5 mb-2">
                            <div class="card">
                                <a href="{{ home.picture4.url }}" data-lightbox="pixPics"><img src="{{ home.picture4.url }}" class="card-img-top" alt=""></a>
                            </div>
                    </div>
                    {% endif %}
                    {% if home.picture5 %}
                    <div class="col-md-5 mb-2">
                            <div class="card">
                                <a href="{{ home.picture5.url }}" data-lightbox="pixPics"><img src="{{ home.picture5.url }}" class="card-img-top" alt=""></a>
                            </div>
                    </div>
                    {% endif %}
                    {% if home.picture6 %}
                    <div class="col-md-5">
                            <div class="card">
                                <a href="{{ home.picture6.url }}" data-lightbox="pixPics"><img src="{{ home.picture6.url }}" class="card-img-top" alt=""></a>
                            </div>
                    </div>
                    {% endif %}
                </div>
                

            </div>
        </div>
    </div>
</section>

    
{% endblock %}


 