{% extends 'base.html' %}
{% load humanize %}


{% block content %}

<section id="homeBkground" class="pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" id="cardCenter" style="width: 30rem;">
                        <h5 class="card-header">MakeMeMove</h5>
                        <div class="card-header">
                                <button type="button" class="btn btn-primary btn-lg">Contact Agent</button>
                                <button type="button" class="btn btn-secondary btn-lg">Schedule a tour</button>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">${{ home.price | intcomma }}</h4>
                            <h5 class="card-title">{{ home.address }}</h5>
                            <p>{{ home.city }}, {{ home.state }} {{ home.zipcode }}</p>
                            <hr>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">{{ home.homesize  | intcomma }} sqft</div>
                        
                                    <div class="col-6"></i> Garage: {{ home.garage }}</div>
                                </div>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">Bds: {{ home.bedrooms }}</div>
                                    <div class="col-6">Ba: {{ home.bathrooms }}</div>
                                </div>
                            <hr>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}


 