{% load static %}


<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-primary py-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">MakeMeMove</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homes' %}">Buy</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'seller' %}">Sell</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'renters' %}">Rent</a>
                </li>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'agents' %}">Find an Agent</a>
            </li>
              </ul>
            
                  <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        {% if user.is_authenticated %}
                                <li class="nav-item">
                                        <!-- <a class="nav-link text-uppercase font-weight-bold">Hello, {{ user.username }}</a> -->
                                        <a class="nav-link text-uppercase font-weight-bold" href = "{% url 'user_home' %}">Hello, {{ user.username }}</a>
                                </li>
                        
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signout' %}">Signout</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'advertising' %}">Advertise</a>
                                </li> 
                        
                        {% else %}
                                <li class="nav-item"></li>
                                        <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signin' %}">Sign in</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{% url 'advertising' %}">Advertise</a>
                                </li> 
                        {% endif %}

                        <!-- <li class="nav-item">
                                <a class="nav-link" href="{% url 'advertising' %}">Advertise</a>
                        </li>  -->
                  </ul>
            
            </div>
        </div>
    </nav>

    