{% extends 'base.html' %}
{% block content %}

<section class="pt-5">
    <div class="container pt-5">
        <h1>MakeMeMove</h1>
        <p>MakeMeMove is the newest real estate and rental company to grace this marketplace. Our main goal is to present the consumer 
            with a simplistic software capable of handling powerful transactions.
            We aim to be the best real estate company in the world by providing our clientele with the best customer service, the best advice on how
            to take on this process.
            We will make the buying and renting process the smoothest as possible. It is our vow to you.
        </p>
        <p>Come and check out today. Contact our agents today</p>

    </div>
</section>
{% endblock %}