{% extends 'base.html' %}
{% block content %}


<div class="topIndex">
    <section id="bkground" class="jumbotron mt-5">
        
        <div class="d-flex justify-content-center pt-5">
            <h1>Perfect Home</h1>
        </div>
        <div class="d-flex justify-content-center pt-4">
                <p class="lead">We'll find your paradise</p>
        </div>
        <div class="d-flex justify-content-center pt-5">
                <form method="GET" action="{% url 'lookup' %}" class="search">
                    {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control" size="100" type="search" name="search" value="{{ request.GET.get.search }}" placeholder="Enter an address, city or ZIP code">
                           <div class="input-group-btn">
                            <button type="submit" class="btn btn-info" value=""><i class="fas fa-search"></i></button>
                           </div>
                        </div>
                    </form>
        </div>
            
        

    </section>
</div>

    <section>
        <div class="container fluid mt-4">
            <div class="row">
                <div class="col-md-4 bg-info pt-1">
                    <div class="d-flex justify-content-center">
                        <h3><i class="fas fa-home fa-5x"></i></h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3>Buy a home</h3>
                    </div>
                    <div class="container">
                            <p>kfj sdfjsl  dfjsjf fdff ffdfd ffsff sfsffs sfsf fsf fdfdgf
                                    fffffggfd fddhdf hhhhhhhhhhhhhhhh
                                    fffffffffff hhhhhhhhhhh gggg</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'homes' %}" class="btn btn-info">Search Homes</a>
                    </div>
                </div>  
                <div class="col-md-4 pt-1">
                        <div class="d-flex justify-content-center">
                            <h3><i class="fas fa-house-damage fa-5x"></i></h3>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h3>Sell a home</h3>
                        </div>
                        <div class="container">
                                <p>kfj sdfjsl  dfjsjf fdff ffdfd ffsff sfsffs sfsf fsf fdfdgf
                                        fffffggfd fddhdf hhhhhhhhhhhhhhhh
                                        fffffffffff hhhhhhhhhhh gggg</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'seller' %}" class="btn btn-info">Search Homes</a>
                        </div>
                    </div>  
                    <div class="col-md-4 bg-info pt-2">
                            <div class="d-flex justify-content-center">
                                <h3><i class="fas fa-building fa-5x"></i></h3>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h3>Rent a home</h3>
                            </div>
                            <div class="container">
                                    <p>kfj sdfjsl  dfjsjf fdff ffdfd ffsff sfsffs sfsf fsf fdfdgf
                                            fffffggfd fddhdf hhhhhhhhhhhhhhhh
                                            fffffffffff hhhhhhhhhhh gggg</p>
                            </div>
                            <div class="d-flex justify-content-center pb-2">
                                <a href="{% url 'renters' %}" class="btn btn-info">Find rentals</a>
                            </div>
                    </div>  
                
            </div>
        </div>
    </section>
{% endblock %}